body {
  background-color: hsl(30, 38%, 92%);
}

.product-card {
  width: 90%;
  background: white;
  border-radius: 12px;
  max-width: 350px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.product-image {
  width: 100%;
  height: auto;
}

.product-title {
  font-family: 'Fraunces', serif;
  font-weight: 700;
  font-size: 2em;
  margin: 5px 0;
}

.product-info {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  padding: 0 20px;
  margin: auto;
}

.category , .product-description {
  color: hsl(228, 12%, 48%)
}

.category {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.7em;
}

.product-description {
  font-size: 0.9em;
  margin: 15px 0;
  line-height: 1.7;
  width: 91%;
}

.price-details {
  display: flex;
  gap: 10px;
  /* align-items: center; */
}

.new-price {
  color: hsl(158, 36%, 37%);
  font-size: 2em;
  font-family: 'Fraunces', serif;
  font-weight: 700;
}

.old-price {
  text-decoration: line-through;
  color: hsl(228, 12%, 48%);
  font-size: 0.7em;
  align-self: center;
}

.add-to-cart {
  margin: 10px 0;
  border-radius: 8px;
  border: 0;
  width: 80%;
  display: block;
  margin: 15px auto;
  padding: 15px;
}

button {
  background-color: hsl(158, 36%, 37%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: white;
  font-weight: bold;

}

button:hover {
  background-color:hsl(158, 42%, 18%);
}